includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
	bootstrapFiles:
		- phpstan-bootstrap.php
	level: 5
	paths:
		- openwpsecurity-loginprotection.php
		- src
		- uninstall.php
	parallel:
		maximumNumberOfProcesses: 1
	treatPhpDocTypesAsCertain: false
	tmpDir: .phpstan.cache
